<h2 class="text-center">Credit Lines</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
          <li><%= link_to "View All", credit_line_path %></li>
          <li><%= link_to "Open New", {:controller => "credit_line", :action => "new"} %></li>
        </ul>
    </div>
</div>