<h2 class="text-center">Draws</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
          <li><%= link_to "View All Draws", draws_path %></li>
          <li><%= link_to "Draw Money", {:controller => "draws", :action => "new"} %></li>
        </ul>
    </div>
</div>