<h2 class="text-center">Payments</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
          <li><%= link_to "View All", payments_path %></li>
          <li><%= link_to "Make Payment", {:controller => "payments", :action => "new"} %></li>
        </ul>
    </div>
</div>